.header {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
}

.subheader {
  font-size: 16px;
  opacity: 0.7;
}

.content-container {
  margin: 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}