<div class="content-container">
  <mat-card>
    <div class="cover-image">
      <img [src]="homePageImage" class="profile-picture">
    </div>
    <div class="caption-overlay">
      <div>
        <h1>Welcome To University of The Pacific Solar Car Club Homepage</h1>
      </div>
    </div>
  </mat-card>
  <br>
  <!-- Intro -->
  <mat-card class="intro-card">
    <mat-card-header class="intro-header">
      <p>Started from the ground</p>
    </mat-card-header>
    <mat-card-content class="intro-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec urna sollicitudin, gravida tellus id, rutrum
        elit. Mauris aliquam facilisis mi, eu auctor ipsum finibus id. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Fusce non turpis eu metus semper aliquet. Sed lobortis risus id
        cursus pellentesque. Suspendisse potenti. Nulla facilisi. Aliquam erat volutpat. Integer eu efficitur dolor.</p>
    </mat-card-content>
  </mat-card>
  <br>
  <!-- who we are -->
  <mat-card class="video-card">
    <mat-card-header class="video-header">
      <p>Who We Are?</p>
    </mat-card-header>
    <mat-card-content class="video-content">
      <div class="video-wrapper">
        <iframe width="1111" height="625" src="https://www.youtube.com/embed/xxUM16tskXk"
          title="World&#39;s first solar car — How does it feel to drive Lightyear 0?" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <!-- Value -->
  <mat-card class="intro-card">
    <div class="cover-image">
      <img [src]="valueImage" class="profile-picture">
    </div>
    <div class="caption-overlay">
      <h1 class="overlay-header">Our Value</h1>
      <div class="grid-container">
        <div class="grid-item">
          <h2>Item 1</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec urna sollicitudin, gravida tellus id,
            rutrum elit. 
          </p>
        </div>
        <div class="grid-item">
          <h2>Item 2</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec urna sollicitudin, gravida tellus id,
            rutrum
            elit. 
          </p>
        </div>
        <div class="grid-item">
          <h2>Item 3</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec urna sollicitudin, gravida tellus id,
            rutrum
            elit. 
          </p>
        </div>
      </div>
    </div>
  </mat-card>
  <br>
  <!-- Contact -->
  <mat-card class="contact-card">
    <mat-card-header class="contact-header">
      <p>Follow us!</p>
    </mat-card-header>
    <mat-card-content class="contact-content">
      <mat-icon class="custom-icon">fab fa-instagram</mat-icon>
      <mat-icon class="custom-icon">facebook</mat-icon>
      <mat-icon class="custom-icon">fab fa-twitter</mat-icon>
      <mat-icon class="custom-icon">discord</mat-icon>
    </mat-card-content>
  </mat-card>
</div>